
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

nav{
    background-color: #6e6b6b;
}
footer{
    background-color: #6e6b6b;
}


.carousel-item{
    height: 500px;
}

#carousel1{
    background-image: url(pexels-bruno-bueno-2204179.jpg);
    background-repeat: no-repeat;
    background-size: auto;
}

#carousel2{
    background-image: url(pexels-guduru-ajay-bhargav-863988.jpg);
    background-repeat: no-repeat;
    background-size: auto;
}


#carousel3{
    background-image: url(pexels-oliver-1103833.jpg);
    background-repeat: no-repeat;
    background-size: auto;
}
